<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
	<title>Message</title>
	<object th:include="fragments/fragment :: icon" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
   <link rel="stylesheet" th:href="@{/css/test.css}">
   <script th:src="@{/js/bootstrap.min.js}"></script>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3>COMING SOON !!!</h3>
	</body>
</html>